<script id="grid-item-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="grid-item">
      <div class="title">{{name}}</div>
      <div class="year">{{year}}</div>
      <div class="genres">{{genres}}</div>
      <div class="country">{{country}}</div>
    </div>
  {{/each}}
</script>
