<script id="grid-item-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="grid-item">
      <div class="title">{{name}}</div>
      <div class="year">{{year}}</div>
      <div class="genres">
        {{#each array_genres}}
          {{this}}
        {{/each}}
      </div>
      <div class="country">
        {{#each array_countries}}
          {{this}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</script>
