// media
$medium-up: "(min-width: 740px)";
$large-up: "(min-width: 1000px)";

// color
$base-gray: #eceff0;
$light-gray: #fbfcfc;
$blue-gray: #edf4fA;
$base-link-color: #2196F3;
$base-btn-color: #2196F3;
