.c-dropdown {
  position: relative;
  .c-dropdown-menu {
    display: none;
    z-index: 100;
  }
  .c-dropdown-item {
  }
  &.open {
    .c-dropdown-menu {
      display: block;
    }
  }
}

@media #{$medium-up} {
  .c-dropdown {
    .c-dropdown-menu {
      position: absolute;
      left: 0;
      top: 100%;
      min-width: 100%;
    }
  }
}

@media #{$large-up} {

}
