header {
  padding-top: 30px;
  background-color: #ECEFF0;
  .search {
    width: 100%;
    height: 52px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 20px -7px black;
    padding: 5px 10px 5px 50px;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      background-image: image-url("search.svg");
      width: 20px;
      height: 20px;
      position: absolute;
      left: 16px;
      top: 16px;
    }
    .search-field {
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }

  .filters {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    color: #455B65;
    font-size: 14px;
    .filter-item {
      display: block;
      position: relative;
      cursor: pointer;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &:after {
        position: absolute;
        content: "";
        width: 11px;
        height: 7px;
        right: 7px;
        top: 21px;
        background-image: image-url("arrow.svg");
        transform: rotate(180deg);
      }
      .filter-title {
        padding: 17px 25px;
        display: block;
      }
      .select-filters-title {
      }
      .filter-item-menu {
        background-color: #EDF4FA;
        padding: 17px 25px;
      }
      .filter-item-value {
        padding: 10px 0 10px 25px;
        position: relative;
        display: inline-block;
        width: 50%;
        &:before {
          position: absolute;
          left: 0;
          top: 7px;
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: image-url("checkbox.svg");
        }
        &.select:before {
          background-image: image-url("full-checkbox.svg");
        }
      }
      &.open {
      }
    }
  }

}

@media #{$medium-up} {
  header {
    .filters {
      margin: 0 10px;
      padding: 17px 15px;
      .filter-item {
        display: inline-block;
        &:after {
          top: 15px;
        }
        &.open {
          background-color: #EDF4FA;
        }
        .filter-item-menu {
          max-height: 200px;
          overflow-y: auto;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          padding: 17px 15px;
        }
        .filter-item-value {
          width: 100%;
        }
        .filter-title {
          padding: 10px 35px 10px 15px;
        }
      }
    }
  }
}

@media #{$large-up} {

}
