header {
  padding: 40px 0 50px 0;
  background-color: $base-gray;
  .search {
    width: 100%;
    height: 52px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 20px -7px black;
    padding: 5px 10px 5px 50px;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      background-image: image-url("search.svg");
      width: 20px;
      height: 20px;
      position: absolute;
      left: 16px;
      top: 16px;
    }
    .search-btn {
      display: none;
      background-color: $base-btn-color;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-image: image-url("search.svg");
      background-size: 23px;
      background-position: 5px 4px;
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      right: 10px;
      cursor: pointer;
      &.active {
        display: block;
      }
    }
    .search-field {
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
  .filter-panel {
    position: relative;
    .filters {
      position: relative;
      background-color: $light-gray;
      border-radius: 3px;
      color: #455B65;
      font-size: 14px;
      z-index: 100;
      .filter-item {
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid transparent;
        .search-filter {
          display: none;
        }
        .filter-title,
        .empty-filter-title {
          padding: 17px 25px;
          &:after {
            position: absolute;
            content: "";
            width: 11px;
            height: 7px;
            right: 7px;
            top: 21px;
            background-image: image-url("arrow.svg");
            transform: rotate(180deg);
          }
        }
        .filter-title {
          display: none;
        }
        .empty-filter-title {
          display: block;
        }
        .filter-item-menu {
          background-color: $blue-gray;
          padding: 17px 25px;
        }
        .filter-item-value {
          padding: 10px 0 10px 25px;
          position: relative;
          display: inline-block;
          width: 50%;
          &:before {
            position: absolute;
            left: 0;
            top: 7px;
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: image-url("checkbox.svg");
          }
          &.select:before {
            background-image: image-url("full-checkbox.svg");
          }
        }
        &.open {
          .filter-title {
            &:after {
              background-image: image-url("close.svg");
              width: 10px;
              height: 10px;
            }
          }
        }
        &.select {
          .filter-title {
            display: block;
          }
          .empty-filter-title {
            display: none;
          }
        }
      }
    }
    .clear-all-filter {
      position: absolute;
      left: 50%;
      bottom: -29px;
      margin-left: -30px;
      width: 58px;
      height: 58px;
      background-color: $light-gray;
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      &:after {
        position: absolute;
        content: "";
        bottom: 13px;
        left: 21px;
        width: 15px;
        height: 10px;
        background-image: image-url("arrow.svg");
      }
    }
    .show-result-mobile {
      display: block;
      text-align: center;
      border-radius: 3px;
      color: white;
      padding: 15px 0;
      background-color: $base-btn-color;
      cursor: pointer;
      z-index: 100;
      position: relative;
    }
  }
}

@media #{$medium-up} {
  header {
    .search {
      .search-btn {
        &.active {
          display: none;
        }
      }
    }
    .filter-panel {
      .filters {
        margin: 0 10px;
        padding: 17px 15px 0;
        .filter-item {
          display: inline-block;
          margin-bottom: 15px;
          margin-right: 20px;
          &:after {
            top: 15px;
          }
          &.open {
            background-color: $blue-gray;
          }
          .filter-title,
          .empty-filter-title {
            &:after {
              top: 15px;
            }
          }
          &.select:not(.open) {
            background-color: $blue-gray;
            border-color: #DFE7EA;
          }
          .filter-item-menu {
            max-height: 200px;
            overflow-y: auto;
            border-radius: 3px;
            padding: 17px 15px;
          }
          .filter-item-value {
            width: 100%;
          }
          .filter-title,
          .empty-filter-title {
            padding: 10px 35px 10px 15px;
          }
          .search-filter {
            display: none;
            padding-right: 30px;
            position: relative;
            &:after {
              content: "";
              display: block;
              position: absolute;
              right: 7px;
              top: 13px;
              background-image: image-url("close.svg");
              width: 10px;
              height: 10px;
            }
            input {
              background-color: $blue-gray;
              padding: 10px 0 10px 15px;

            }
          }
          &.open {
            .search-filter {
              display: block;
            }
            .filter-title,
            .empty-filter-title {
              display: none;
            }
          }
        }
      }
      .show-result-mobile {
        display: none;
      }

    }
  }
}

@media #{$large-up} {

}
